.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: lightcyan;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow-y: scroll;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.4s ease-out;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}

.library__title {
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.library__wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 575px) {
  .library {
    width: 100%;
  }

  .library__title {
    padding: 1.1rem;
    text-align: left;
  }
}
