.song {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song__cover {
  width: 20%;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.song__name {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(100, 100, 100, 1);
}

.song__artist {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(100, 100, 100, 0.7);
}
