.librarySong {
  display: flex;
  gap: 0 0.7rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: #d3e2f3;
  }
}

.librarySong__cover {
  width: 5rem;
  height: 5rem;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.librarySong__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.librarySong__name {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(100, 100, 100, 1);
}

.librarySong__artist {
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(100, 100, 100, 0.7);
}
