.player__time {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;

  p {
    width: 34px;
    color: rgba(100, 100, 100, 1);
  }
}

.player__control {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.player__progress {
  position: relative;
  flex-grow: 1;
  margin: 0 2rem;
  // padding: 1rem 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.player__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: none;
}

.player__inner {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

.player__range {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  // webkit
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    position: relative;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }

  // mozilla
  &::-moz-range-track {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    position: relative;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  // IE
  &::-ms-track {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
  }

  &::-ms-thumb {
    position: relative;
    bottom: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
